<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legolas.androidlearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.legolas.androidlearning.Start_Activity"
            android:label="start_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!--配置主-->
        <!--声明主Activity之外的Activity-->
        <activity android:name=".ImageTest1"
            android:label="image_test1"></activity>
        <activity android:name=".ButtonTest1"
            android:label="button_test1"></activity>
        <activity android:name=".TextViewTest1"
            android:label="textview_test1"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            ></activity><!--android:theme="@style/Theme.AppCompat.NoActionBar"在该界面上不显示title菜单头-->
        <activity android:name=".ReturnResult"
            android:label="return_result"></activity>
        <activity android:name=".ComponentsTest1"
            android:label="ComponentsTest1"></activity>
        <activity android:name=".ButtonTest2"
            android:label="ButtonTest2"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
<!--
Activity四种状态：
1、活动状态（Active/Running）Activity处于界面最顶端，获取焦点
2、暂停状态（Paused）Activity失去焦点
3、停止状态（Stopped）Activity被完全遮挡，但保留所有状态和成员信息，包括后台运行时
4、非活动状态（Killed）Activity被停止
创建到销毁的生命周期：
onCreate()->onStart()->onResume()->
onPause()->onStop()->
onRestart()->onStart()->onResume()->
onDestroy()
-->